/* Sasscript */
@import 'https://fonts.googleapis.com/css2?family=Montserrat&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Oxygen&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Poppins&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';
[ss-black] {
  color: #000000;
}

[ss-white] {
  color: #ffffff;
}

[ss-aqua] {
  color: #00ffff;
}

[ss-blue] {
  color: #0000ff;
}

[ss-green] {
  color: #00ff00;
}

[ss-magenta] {
  color: #ff00ff;
}

[ss-red] {
  color: #ff0000;
}

[ss-yellow] {
  color: #ffff00;
}

[ss-ao_english] {
  color: #008000;
}

[ss-azure] {
  color: #0080ff;
}

[ss-chartreuse_web] {
  color: #80ff00;
}

[ss-electric_blue] {
  color: #80ffff;
}

[ss-gray_web] {
  color: #808080;
}

[ss-laser_lemon] {
  color: #ffff80;
}

[ss-light_coral] {
  color: #ff8080;
}

[ss-maroon_web] {
  color: #800000;
}

[ss-medium_slate_blue] {
  color: #8080ff;
}

[ss-navy_blue] {
  color: #000080;
}

[ss-olive] {
  color: #808000;
}

[ss-orange] {
  color: #ff8000;
}

[ss-patriarch] {
  color: #800080;
}

[ss-pink_flamingo] {
  color: #ff80ff;
}

[ss-rose] {
  color: #ff0080;
}

[ss-screamin_green] {
  color: #80ff80;
}

[ss-spring_green] {
  color: #00ff80;
}

[ss-teal] {
  color: #008080;
}

[ss-violet_color_wheel] {
  color: #8000ff;
}

[ss-cultured] {
  color: #f0f0f0;
}

[ss-smoky_black] {
  color: #0f0f0f;
}

[ss-eerie_black] {
  color: #1c1c1c;
}

[ss-jet] {
  color: #393939;
}

[ss-davys_grey] {
  color: #555555;
}

[ss-sonic_silver] {
  color: #717171;
}

[ss-spanish_gray] {
  color: #8e8e8e;
}

[ss-silver_chalice] {
  color: #aaaaaa;
}

[ss-silver] {
  color: #c6c6c6;
}

[ss-platinum] {
  color: #e3e3e3;
}

[ss-montserrat] {
  font-family: "Montserrat";
}

[ss-oxygen] {
  font-family: "Oxygen";
}

[ss-poppins] {
  font-family: "Poppins";
}

[ss-roboto] {
  font-family: "Roboto";
}

* {
  box-sizing: border-box;
  font-family: "Montserrat";
  font-size: 18px;
  scroll-behavior: smooth;
  transition: all 0.3s linear, color 0s linear;
}

:root {
  color-scheme: light dark;
  cursor: default;
  background-size: 100% 100%;
}
:root:after {
  bottom: 0;
  content: "Sasscript 2.3.0";
  font-size: 0.35rem;
  right: 0;
  position: fixed;
}

body {
  border: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0.4rem 0.6rem;
  padding-bottom: 1.5rem;
}

html {
  border: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 0.9rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.7rem;
}

hr {
  border-radius: 6px;
  border: 2.5px solid currentColor;
  padding: 0.4rem 0.6rem;
  height: 15px;
}

ol, ul {
  margin: 0;
  padding-left: 25px;
}

p::first-letter {
  text-transform: uppercase;
}

ul li {
  list-style-type: disc;
}

:any-link {
  color: #0080ff;
}
:any-link:hover {
  color: #0000ff;
}

article {
  border-radius: 10px;
  border: 2.5px solid currentColor;
  margin: 0.6rem 0.9rem;
  padding: 8px 12.5px;
  box-shadow: 1.5px 1.5px 0 currentColor;
}
article > * {
  margin-left: 10px;
}
article > h1,
article > h2,
article > h3 {
  margin: 0;
}

aside {
  margin: 0.6rem 0.9rem;
  float: right;
  width: fit-content;
}

footer {
  margin: 0.6rem 0.9rem;
  margin-left: 0;
  margin-right: 0;
}

header {
  margin: 0.6rem 0.9rem;
  margin-right: 0;
  margin-left: 0;
}

main {
  margin: 0.6rem 0.9rem;
}

mark {
  border-radius: 6px;
  padding: 0.4rem 0.6rem;
  background-color: #ffff00;
}

nav {
  margin: 0.6rem 0.9rem;
}

summary {
  cursor: pointer;
}

abbr[title] {
  text-decoration: underline dotted #008000 3px;
}

address {
  border-radius: 10px;
  border: 2.5px solid currentColor;
  margin: 0.6rem 0.9rem;
  padding: 8px 12.5px;
  box-shadow: 1.5px 1.5px 0 currentColor;
}
address > * {
  margin-left: 10px;
}
address > h1,
address > h2,
address > h3 {
  margin: 0;
}

blockquote {
  border-radius: 10px;
  border: 2.5px solid currentColor;
  margin: 0.6rem 0.9rem;
  padding: 8px 12.5px;
  box-shadow: 1.5px 1.5px 0 currentColor;
}
blockquote > * {
  margin-left: 10px;
}
blockquote > h1,
blockquote > h2,
blockquote > h3 {
  margin: 0;
}

button, a[ss-abutton],
[ss-abuttons] > * {
  border-radius: 6px;
  border: 2.5px solid currentColor;
  padding: 0.4rem 0.6rem;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
}
button:hover, a[ss-abutton]:hover,
[ss-abuttons] > :hover {
  background-color: #c6c6c6;
}
button:disabled, a[ss-abutton]:disabled,
[ss-abuttons] > :disabled {
  border-color: #f0f0f0;
  color: #f0f0f0;
  cursor: not-allowed;
}
button[type=reset], a[type=reset][ss-abutton],
[ss-abuttons] > [type=reset] {
  border-color: #ff0000;
  color: #ff0000;
}
button[type=submit], a[type=submit][ss-abutton],
[ss-abuttons] > [type=submit] {
  border-color: #008000;
  color: #008000;
}

code {
  border-radius: 6px;
  background-color: #f0f0f0;
}

del {
  border-radius: 6px;
  padding: 0.4rem 0.6rem;
  background-color: #ff0000;
  color: #ffffff;
  text-decoration: none;
}

dialog {
  border-radius: 10px;
  border: 2.5px solid currentColor;
  margin: 0.6rem 0.9rem;
  padding: 8px 12.5px;
  box-shadow: 1.5px 1.5px 0 currentColor;
  background-color: #ffffff;
}
dialog > * {
  margin-left: 10px;
}
dialog > h1,
dialog > h2,
dialog > h3 {
  margin: 0;
}

fieldset {
  border-radius: 10px;
  border: 2.5px solid currentColor;
  margin: 0.6rem 0.9rem;
  padding: 8px 12.5px;
  box-shadow: 1.5px 1.5px 0 currentColor;
}
fieldset > * {
  margin-left: 10px;
}
fieldset > h1,
fieldset > h2,
fieldset > h3 {
  margin: 0;
}

form {
  border-radius: 10px;
  border: 2.5px solid currentColor;
  margin: 0.6rem 0.9rem;
  padding: 8px 12.5px;
  box-shadow: 1.5px 1.5px 0 currentColor;
  text-align: center;
}
form > * {
  margin-left: 10px;
}
form > h1,
form > h2,
form > h3 {
  margin: 0;
}

iframe {
  border-radius: 10px;
  border: 2.5px solid currentColor;
  margin: 0.6rem 0.9rem;
  padding: 8px 12.5px;
  box-shadow: 1.5px 1.5px 0 currentColor;
}
iframe > * {
  margin-left: 10px;
}
iframe > h1,
iframe > h2,
iframe > h3 {
  margin: 0;
}

input {
  border-radius: 6px;
  border: 2.5px solid currentColor;
  padding: 0.4rem 0.6rem;
  background-color: transparent;
  font-size: 1rem;
  outline: 0;
}
input[type=button] {
  cursor: pointer;
}
input[type=checkbox], input[type=radio] {
  accent-color: #0080ff;
  box-shadow: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
input[type=color] {
  cursor: pointer;
  padding: 5px;
  height: 35px;
  width: 50px;
}
input[type=range] {
  accent-color: #0080ff;
  box-shadow: none;
  cursor: pointer;
}
input[type=reset] {
  cursor: pointer;
}
input[type=reset]:hover {
  background-color: #c6c6c6;
}
input[type=submit] {
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #c6c6c6;
}

kbd {
  border-radius: 6px;
  border: 2.5px solid currentColor;
  padding: 0.4rem 0.6rem;
}

meter {
  height: 20px;
  width: 200px;
}

progress {
  border-radius: 10px;
  border: 2.5px solid currentColor;
  height: 20px;
  width: 200px;
}

select {
  border-radius: 6px;
  border: 2.5px solid currentColor;
  padding: 0.4rem 0.6rem;
  background-color: transparent;
  font-size: 1rem;
  outline: 0;
  cursor: pointer;
}

table {
  border-radius: 10px;
  border: 2.5px solid currentColor;
  margin: 0.6rem 0.9rem;
  padding: 8px 12.5px;
  box-shadow: 1.5px 1.5px 0 currentColor;
  border-collapse: collapse;
}
table > * {
  margin-left: 10px;
}
table > h1,
table > h2,
table > h3 {
  margin: 0;
}

td, th {
  border-radius: 10px;
  border: 2.5px solid currentColor;
  padding: 0.4rem 0.6rem;
  box-shadow: none;
}

textarea {
  border-radius: 6px;
  border: 2.5px solid currentColor;
  padding: 0.4rem 0.6rem;
  background-color: transparent;
  font-size: 1rem;
  outline: 0;
}

th {
  text-align: center;
}

/*
::-webkit-file-upload-button
::-webkit-inner-spin-button
::-webkit-input-placeholder
::-webkit-media-controls
::-webkit-media-controls-current-time-display
::-webkit-media-controls-enclosure
::-webkit-media-controls-fullscreen-button
::-webkit-media-controls-mute-button
::-webkit-media-controls-overlay-enclosure
::-webkit-media-controls-panel
::-webkit-media-controls-play-button
::-webkit-media-controls-timeline
::-webkit-media-controls-time-remaining-display
::-webkit-media-controls-toggle-closed-captions-button
::-webkit-media-controls-volume-control-container
::-webkit-media-controls-volume-control-hover-background
::-webkit-media-controls-volume-slider
::-webkit-meter-bar
::-webkit-meter-even-less-good-value
::-webkit-meter-inner-element
::-webkit-meter-optimum-value
::-webkit-meter-suboptimum-value
::-webkit-media-text-track-container
::-webkit-outer-spin-button
::-webkit-progress-bar
::-webkit-progress-inner-element
::-webkit-progress-value
::-webkit-search-cancel-button
::-webkit-search-results-button
::-webkit-slider-runnable-track
::-webkit-slider-thumb
::-webkit-textfield-decoration-container
::-webkit-validation-bubble
::-webkit-validation-bubble-arrow
::-webkit-validation-bubble-arrow-clipper
::-webkit-validation-bubble-heading
::-webkit-validation-bubble-message
::-webkit-validation-bubble-text-block
*/
::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

::-webkit-file-upload-button {
  border-radius: 6px;
  border: 2.5px solid currentColor;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 2px;
}

::-webkit-file-upload-button:hover:hover {
  background-color: #c6c6c6;
}

::-webkit-progress-bar {
  border-radius: 10px;
  background-color: #ffffff;
}

::-webkit-progress-value {
  border-radius: 10px;
  background-color: #008000;
}

a[ss-abutton],
[ss-abuttons] > * {
  display: inline-block;
  text-decoration: none;
}
a[ss-abutton]:hover,
[ss-abuttons] > *:hover {
  background-color: transparent;
}

code pre {
  background-color: inherit;
  color: inherit;
  display: inline;
  margin: 0;
}

fieldset > form:only-of-type {
  border: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

form > fieldset:only-child {
  border: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
form li {
  list-style-type: none;
}

header:first-child {
  margin-top: 0;
}

p:first-child {
  margin-top: 0;
}

details[ss-block] {
  border-radius: 6px;
  border: 2.5px solid currentColor;
  padding: 0.4rem 0.6rem;
}
details[ss-block]:not([open]) {
  width: fit-content;
}

table[ss-crossed] td,
table[ss-crossed] th,
table[ss-crossed] tr {
  border: 0;
}
table[ss-crossed] td:first-child,
table[ss-crossed] th:first-child,
table[ss-crossed] tr:first-child {
  border-radius: 10px;
  border: 2.5px solid currentColor;
  box-shadow: none;
}
table[ss-note] td,
table[ss-note] th,
table[ss-note] tr {
  border: 0;
}
table[ss-note] tr:first-child {
  border-radius: 10px;
  border: 2.5px solid currentColor;
  box-shadow: none;
}

/*# sourceMappingURL=ss.css.map */
