@mixin block($type: '') {
   @include border('', $type);
   @include margin;
   @include padding;

   @if ($type  !='blur') {
      @include box-shadow;
   }

   >h1,
   >h2,
   >h3 {
      margin: 0;
   }
}

@mixin input($type: '') {
   @include inline;

   background-color: transparent;
   font-size: 1rem;
   outline: 0;
}

@mixin inline($type: '') {
   @include border('inline', $type);
   @include padding('inline');
}

//

@mixin border($model: '', $type: '') {
   @include border-radius($model);

   @if $type=='blur' {
      box-shadow: 0 0 5px color('gray-web');
   }

   @else {
      border: 2.5px solid currentColor;
   }
}

@mixin border-radius($model: '') {
   @if $model=="inline" {
      border-radius: 6px;
   }

   @else {
      border-radius: 10px;
   }
}

@mixin box-shadow {
   box-shadow: 1.5px 1.5px 0 currentColor;
}

@mixin margin {
   margin: .6rem .9rem;
}

@mixin padding($model: '') {
   @if $model=="inline" {
      padding: .4rem .6rem;
   }

   @else {
      padding: 8px 12.5px;
   }
}

//

@mixin flex {
   display: flex;
   flex-wrap: wrap;
}

@mixin fullscreen {
   border: 0;
   margin: 0;
   min-height: 100vh;
   min-width: 100vw;
}

@mixin highlight($type: '') {
   &:hover {
      background-color: color('silver-chalice');

      @if $type =='bubble' {
         @include border-radius('inline');
         @include padding('inline');
      }
   }
}

@mixin reset {
   border: 0;
   box-shadow: none;
   margin: 0;
   padding: 0;
}

@mixin var($type) {
   @if $type=='bool' {
      color: color('violet-color-wheel');
   }

   @else if $type=='number' {
      color: color('screamin-green');
   }

   @else if $type=='string' {
      color: color('orange');
   }
}