article {
   @include block;
}

aside {
   @include margin;

   float: right;
   width: fit-content;
}

//details figcaption figure

footer {
   @include margin;

   margin-left: 0;
   margin-right: 0;
}

header {
   @include margin;

   margin-right: 0;
   margin-left: 0;
}

main {
   @include margin;
}

mark {
   @include border-radius('inline');
   @include padding('inline');
   
   background-color: map-get($colors, 'yellow');
}

nav {
   @include margin;
}

//section

summary {
   cursor: pointer;
}

//time