@include ss('block') {
   @include block;
}

@include ss('block_blur') {
   @include block('blur');
}

@include ss('input') {
   @include input;
}

@include ss('inline') {
   @include inline;
}

@include ss('inline_blur') {
   @include inline('blur');
}

//

@include ss('border') {
   @include border;
}

@include ss('border_inline') {
   @include border;
}

@include ss('border_blur') {
   @include border('', 'blur');
}

@include ss('border-radius') {
   @include border-radius;
}

@include ss('border-radius_inline') {
   @include border-radius('inline');
}

@include ss('box-shadow') {
   @include box-shadow;
}

@include ss('margin') {
   @include margin;
}

@include ss('padding') {
   @include padding;
}

@include ss('padding_inline') {
   @include padding('inline');
}

//

@include ss('flex') {
   @include flex;
}

@include ss('fullscreen') {
   @include fullscreen;
}

@include ss('highlight') {
   @include highlight;
}

@include ss('highlight_bubble') {
   @include highlight('bubble');
}

@include ss('reset') {
   @include reset;
}

@include ss('var_boolean') {
   @include var('boolean');
}

@include ss('var_number') {
   @include var('number');
}

@include ss('var_string') {
   @include var('string');
}

//

@include ss('abutton', 'a') {
   @include abutton;
}

@include ss('imgbutton', 'img') {
   @include imgbutton;
}

@include ss('detailsfieldset', 'details') {
   @include detailsfieldset;
}

//

@include ss('error') {
   @include inline;

   color: color('red');

   &::before {
      content: '❌Error: ';
   }
}

@include ss('warn') {
   @include inline;

   color: color('orange');

   &::before {
      content: '⚠️Warning: ';
   }
}