/* Sasscript */

@mixin ss($property, $element: '*') {
   #{$element}[ss-#{$property}],
   [ss-#{$property}-s]>#{$element} {
      @content;
   }
}

@import 'colors';
@import 'fonts';
@import 'mixins';
@import 'components';

* {
   box-sizing: border-box;
   font-family: font('montserrat');
   scroll-behavior: smooth;
   transition: all .3s linear, background 0s, color 0s;
}

:root {
   background-size: 100% 100%;
   color-scheme: light dark;
   cursor: default;

   &:after {
      bottom: 0;
      content: 'Sasscript 3.3.0';
      font-size: .4rem;
      right: 0;
      position: fixed;
   }
}

@import 'elements';
@import 'webkit';
@import 'special';
@import 'ss-html';