/*
::-webkit-file-upload-button
::-webkit-inner-spin-button
::-webkit-input-placeholder
::-webkit-media-controls
::-webkit-media-controls-current-time-display
::-webkit-media-controls-enclosure
::-webkit-media-controls-fullscreen-button
::-webkit-media-controls-mute-button
::-webkit-media-controls-overlay-enclosure
::-webkit-media-controls-panel
::-webkit-media-controls-play-button
::-webkit-media-controls-timeline
::-webkit-media-controls-time-remaining-display
::-webkit-media-controls-toggle-closed-captions-button
::-webkit-media-controls-volume-control-container
::-webkit-media-controls-volume-control-hover-background
::-webkit-media-controls-volume-slider
::-webkit-meter-bar
::-webkit-meter-even-less-good-value
::-webkit-meter-inner-element
::-webkit-meter-optimum-value
::-webkit-meter-suboptimum-value
::-webkit-media-text-track-container
::-webkit-outer-spin-button
::-webkit-progress-bar
::-webkit-progress-inner-element
::-webkit-progress-value
::-webkit-search-cancel-button
::-webkit-search-results-button
::-webkit-slider-runnable-track
::-webkit-slider-thumb
::-webkit-textfield-decoration-container
::-webkit-validation-bubble
::-webkit-validation-bubble-arrow
::-webkit-validation-bubble-arrow-clipper
::-webkit-validation-bubble-heading
::-webkit-validation-bubble-message
::-webkit-validation-bubble-text-block
*/

::-webkit-calendar-picker-indicator {
   cursor: pointer;
}

::-webkit-file-upload-button {
   @include inline;

   cursor: pointer;
   font-size: 1rem;
   margin-bottom: 2px;
}

::-webkit-file-upload-button:hover {
   @include highlight;
}

::-webkit-progress-bar {
   @include border-radius;

   background-color: color('white');
}

::-webkit-progress-value {
   @include border-radius;

   background-color: color('ao-english');
}