$aqua: #00ffff
$black: #000000
$blue: #0000ff
$lime: #00ff00
$magenta: #ff00ff
$red: #ff0000
$white: #ffffff
$yellow: #ffff00

$ao-english: #008000
$azure: #0080ff
$chartreuse-web: #80ff00
$electric-blue: #80ffff
$gray-web: #808080
$laser-lemon: #ffff80
$light-coral: #ff8080
$maroon-web: #800000
$medium-slate-blue: #8080ff
$navy-blue: #000080
$olive: #808000
$orange: #ff8000
$patriarch: #800080
$pink-flamingo: #ff80ff
$rose: #ff0080
$screamin-green: #80ff80
$spring-green: #00ff80
$teal: #008080
$violet-color-wheel: #8000ff

$eerie-black: #1c1c1c
$light-gray: #cecece
