/* Fonts */

@import 'https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap'
@import 'https://fonts.googleapis.com/css2?family=Poppins&display=swap'
@import 'https://fonts.googleapis.com/css2?family=Roboto&display=swap'

$courier-prime: 'Courier Prime'
$poppins: 'Poppins'
$roboto: 'Roboto'