/* Sasscript */
@import 'properties.scss';

// Styles
* {
   box-sizing: border-box;
   font-family: $Poppins;
   scroll-behavior: smooth;
   transition: all $time;
}

:root {
   color-scheme: light dark;
   cursor: default;
}

// Meta tags

//head

html {
   height: 100vh;

   &:before {
      bottom: 5px;
      content: 'Sasscript 0.1.0';
      font-size: .45rem;
      position: absolute;
      right: 5px;
   }
}

//link meta noscript script style title

// Basic elements
body {
   margin: 0;
   min-height: 100vh;
   padding: $margin;
   padding-bottom: 2rem;
}

//br

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 5px;
}

h1 {
   font-size: 2.2rem;
}

h2 {
   font-size: 1.6rem;
}

h3 {
   font-size: 1.2rem;
}

h4 {
   font-size: .9rem;
}

h5 {
   font-size: .8rem;
}

h6 {
   font-size: .7rem;
}

hr {
   @include element('inline');

   height: 8px;
}

//p

// Semantic elements
article {
   @include element('block');
}

aside {
   float: right;
   margin: $margin;
   width: fit-content;
}

//details figcaption figure

footer {
   margin: $margin;
   margin-left: 0;
   margin-right: 0;
}

header {
   margin: $margin;
   margin-left: 0;
}

main {
   margin: $margin;
}

mark {
   background-color: $yellow;
   border-radius: $border-radius_inline;
   padding: $padding_inline;
}

nav {
   margin: $margin;
}

//section

summary {
   cursor: pointer;
}

//time

// Other basic elements
//a

ol,
ul {
   margin: 0;
}

ol {
   padding-left: $tab;
}

ul {
   padding-left: $tab;

   li {
      list-style-type: disc;
   }
}

:any-link {
   color: $azure;

   &:hover {
      color: $blue;
   }
}

@import 'elements.scss';
@import 'special-cases.scss';
@import 'others.scss';

/**/