/* Sasscript */

@import 'fonts.sass';
@import 'colors.sass';
@import 'properties.sass';

* {
   background-color: $background-color;
   box-sizing: border-box;
   font-family: $Poppins;
   scroll-behavior: smooth;
   transition: all $time;
}

:root {
   color: $primary-color;
   cursor: default;
   min-height: 100%;
}

/* Common styles */

@mixin element($type) {
   border: $border;
   box-shadow: $box-shadow;

   @if ($type== 'inline') {
      border-radius: $border-radius_inline;
      padding: $padding_inline;
   } @else if ($type== 'block') {
      border-radius: $border-radius_block;
      margin: $margin;
      padding: $padding_block;
   }
}

/* Meta tags */

//head html link meta noscript script style title

/* Basic elements */

body {
   margin: $margin;
   margin-bottom: 2rem;
}

//br

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

h1 {
   font-size: 2.6rem;
   line-height: 1.3;
}

h2 {
   font-size: 1.7rem;
}

h3 {
   font-size: 1.2rem;
}

h4 {
   font-size: 0.9rem;
}

h5 {
   font-size: 0.8rem;
}

h6 {
   font-size: 0.7rem;
}

hr {
   @include element('inline');

   height: 12px;
}

//p

/* Semantic elements */

article {
   @include element('block');
}

aside {
   float: right;
   margin: $margin;
   width: fit-content;
}

// details

details > *:not(summary) {
   padding-left: $tab;
}

//figcaption figure footer header

main {
   margin: $margin;
}

mark {
   background-color: $yellow;
   border-radius: $border-radius_inline;
   padding: $padding_inline;
}

nav {
   margin: $margin;
}

//section

summary {
   cursor: pointer;
}

//time

/* Other basic elements */

//a

ol,
ul {
   margin: 0;
}

ol {
   padding-left: $tab;
}

ul {
   padding-left: $tab;
}

:any-link {
   color: $azure;

   &:hover {
      color: $blue;
   }
}

@import 'elements.scss';
@import 'params.scss';
@import 'special-cases.scss';
