/* Params */

table[crossed] td,
table[crossed] th,
table[crossed] tr {
     border: 0;
}

table[crossed] tr:first-child {
     border-bottom: $border;
}

table[crossed] td:first-child,
table[crossed] th:first-child {
     border-right: $border;
}

[bubble]:hover,
[bubbles]>:hover {
     background-color: $highlight;
     border-radius: $border-radius_inline;
     padding: $padding_inline;
}

[button],
[buttons]>* {
     @include element('inline');

     border-color: currentColor;
     cursor: pointer;
     margin: $margin;
     margin-bottom: 7px;
     margin-left: 0;
     text-decoration: none;
}

[flex] {
     display: flex;
     flex-wrap: wrap;
}

[highlight]:hover,
[highlights]>:hover {
     background-color: $highlight;
}