/* Properties */

$highlight: $light-gray
$primary-color: $black
$tab: 30px
$time: .2s

$background-color: transparent
$border: 2.5px solid currentColor
$border-radius_block: 10px
$border-radius_inline: 6px
$box-shadow: 1.3px 1.3px 0 currentColor
$box-shadow_blur: 0 0 5px currentColor
$margin: .5rem .9rem
$padding_block: 8px 12.5px
$padding_inline: .1rem .5rem
