$highlight: $light-gray
$primary-color: $black
$tab: 30px
$time: .2s

$background-color: transparent
$border: 2.5px solid $primary-color
$border-radius_block: 10px
$border-radius_inline: 6px
$box-shadow_block: 1.2px 1.2px 0 $primary-color
$box-shadow_blur: 0 0 5px $primary-color
$margin: .5rem .7rem
$padding_block: 8px 12.5px
$padding_inline: .1rem .5rem
