@import url('../fonts/comfortaa/boot.css');
@import url('../fonts/courierPrime/boot.css');

:root {
   --aqua: #00ffff;
   --black: #000000;
   --blue: #0000ff;
   --gray: #666666;
   --green: #00bb00;
   --light-gray: #dddddd;
   --lime: #00ff00;
   --pink: #ff00ff;
   --purple: #8f00ff;
   --orange: #ff8000;
   --red: #ff0000;
   --white: #ffffff;
   --yellow: #ffff00;

   --comfortaa: 'Comfortaa', monospace;
   --courierPrime: 'Courier prime', monospace;

   --border: .15em solid var(--black);
   --block_border-radius: 8px;
   --block_padding: .5em .7em;
   --font: var(--comfortaa);
   --margin: .8rem;
   --half_margin: calc(var(--margin) / 2);
   --tab: 1.7em;
   --text_border-radius: 6px;
   --text_padding: .18em .45em;
}

* {
   font-family: var(--font);
   font-size: 16px;
   line-height: 1.2;
}

:root {
   cursor: default;
   font-weight: normal;
   scroll-behavior: smooth;
   user-select: none;
}

a[href] {
   color: var(--blue);
}

a[href]:hover {
   color: var(--orange);
}

a[href][target] {
   color: var(--red)
}

a[href][target]:hover {
   color: var(--aqua);
}

abbr[title] {
   text-decoration: underline var(--green);
}

address {
   margin: var(--half_margin);
}

/* area {} */

article {
   border: var(--border);
   border-radius: var(--block_border-radius);
   margin: var(--half_margin);
   padding: var(--block_padding);
}

aside {
   margin: var(--half_margin);
   float: right;
   width: fit-content;
}

audio {
   height: 50px;
   width: 300px;
}

audio[min] {
   height: 50px;
   width: 110px;
}

/*
b {}
base {}
bdi {}
bdo {}
*/

blockquote {
   margin: var(--margin);
}

body {
   margin: 10px 10px 15px 10px;
}

/* br {} */

button {
   background-color: var(--white);
   border: var(--border);
   border-radius: var(--text_border-radius);
   color: var(--black);
   cursor: pointer;
   min-height: 30px;
   min-width: 30px;
   padding: var(--text_padding);
}

button:hover {
   background-color: var(--light-gray);
}

button:disabled {
   background-color: var(--light-gray);
   border-color: var(--light-gray);
   color: var(--white);
}

button[type='reset'] {
   border-color: var(--red);
   color: var(--red);
}

button[type='submit'] {
   border-color: var(--gray);
   color: var(--gray);
}

button:focus:not(:focus-visible) {
   outline: 0;
}

/* canvas {} */
/* caption {} */
/* cite {} */

code {
   color: var(--white);
   background-color: var(--gray);
   border-radius: var(--text_border-radius);
   padding: var(--text_padding);
}

/* 
col {}
data {}
datalist {}
dd {}
*/

del {
   color: var(--white);
   background-color: var(--red);
   border-radius: var(--text_border-radius);
   padding: var(--text_padding);
   text-decoration: none;
}

/* details {} */

details * {
   padding-left: var(--tab);
}

/* 
dnf {}
dialog {}
div {}
dl {}
dt {}
em {}
embed {}
*/

fieldset {
   border: var(--border);
   border-radius: var(--block_border-radius);
   margin: var(--half_margin);
   padding: var(--block_padding);
}

fieldset:disabled {
   border: 0;
   border-radius: var(--block_border-radius);
   margin: 0;
   padding: 0;
}

/*
figcaption {}
figure {}
footer {}
*/

form {
   border: var(--border);
   border-radius: var(--block_border-radius);
   margin: var(--half_margin);
   padding: var(--block_padding);
   text-align: center;
}

h1 {
   margin: 0;
   margin-bottom: var(--half_margin);
   font-weight: 500;
   font-size: 2.2rem;
}

h1[title] {
   font-size: 3.5rem;
}

h2 {
   margin: 0;
   margin-bottom: var(--half_margin);
   font-weight: 500;
   font-size: 1.8rem;
}

h3 {
   margin: 0;
   margin-bottom: var(--half_margin);
   font-weight: 500;
   font-size: 1.5rem;
}

h4 {
   margin: 0;
   margin-bottom: var(--half_margin);
   font-weight: 500;
   font-size: .9rem;
}

h5 {
   margin: 0;
   margin-bottom: var(--half_margin);
   font-weight: 500;
   font-size: .8rem;
}

h6 {
   margin: 0;
   margin-bottom: var(--half_margin);
   font-weight: 500;
   font-size: .7rem;
}

/*
head
header
*/

hr {
   border: var(--border);
   border-radius: var(--block_border-radius);
   color: inherit;
   height: .5rem;
   margin: var(--half_margin);
}

/*
html {}
i {}
*/

iframe {
   border: var(--border);
   border-radius: var(--block_border-radius);
}

/* img {} */

input {
   color: var(--black);
   background-color: var(--white);
   border: var(--border);
   border-radius: var(--text_border-radius);
   min-width: 30px;
   padding: var(--text_padding);
}

input[type='button'] {
   cursor: pointer;
}

input[type='button']:hover {
   background-color: var(--light-gray);
}

input[type='checkbox'] {
   cursor: pointer;
}

input[type='color'] {
   cursor: pointer;
}

input[type='date'] {
   cursor: pointer;
}

input[type='datetime-local'] {
   cursor: pointer;
}

/* input[type='email'] {} */

/* input[type='file'] {} */

/* input[type='hidden'] {} */

/* input[type='image'] {} */

/* input[type='month'] {} */

/* input[type='number '] {} */

/* input[type='password'] {} */

input[type='radio'] {
   cursor: pointer;
}

input[type='range'] {
   cursor: pointer;
}

input[type='reset'] {
   cursor: pointer;
}

/* input[type='search'] {} */

input[type='submit'] {
   cursor: pointer;
}

/* input[type='tel'] {} */

/* input[type='text'] {} */

input[type='time'] {
   cursor: pointer;
}

/* input[type='url'] {} */

input[type='week'] {
   cursor: pointer;
}

/*
ins {}
kbd {}
label
legend
*/

li {
   list-style-type: disc;
}

/* link {} */

main {
   margin: 0 var(--margin);
}

/* map {} */

mark {
   border-radius: var(--text_border-radius);
   padding: var(--text_padding);
}

/* meta {} */

meter {
   height: 35px;
   width: 200px;
}

nav {
   margin: 0 var(--half_margin);
}

/*
noscript {}
object {}
*/

ol {
   margin: 0;
   padding-left: var(--tab);
}

/*
optgroup {}
option {}
output {}
p {}
param {}
picture {}
pre {}
*/

progress {
   height: 35px;
   width: 200px;
}


/*
q {}
rp {}
rt {}
ruby {}
s {}
samp {}
script {}
section {}
*/

select {
   border: var(--border);
   border-radius: var(--text_border-radius);
   cursor: pointer;
}

/*
source {}
span {}
strong {}
style {}
sub {}
*/

summary {
   padding-left: 0;
   cursor: pointer;
}

/*
sup {}
svg {}
*/

table {
   border: var(--border);
   border-collapse: collapse;
   margin: var(--half_margin);
}

table[bar] {
   border: none;
}

table[bar] tr {
   border: none;
}

table[bar] td {
   border: none;
}

table[bar] th {
   border: none;
}

table[bar] tr:first-child {
   border-bottom: var(--border);
}

table[bar] tr :first-child {
   border-right: var(--border);
}

/* tbody {} */

td {
   border: var(--border);
   min-width: .38rem;
   padding: var(--text_padding);
   text-align: center;
}

textarea {
   border: var(--border);
   border-radius: var(--text_border-radius);
   padding: var(--text_padding);
}

/* tfoot {} */

th {
   border: var(--border);
   min-width: .38rem;
   padding: var(--text_padding);
   text-align: center;
}

/*
thead {}
time {}
title {}
tr {}
track {}
u {}
*/

ul {
   margin: 0;
   padding-left: var(--tab);
}

/*
var {}
video {}
wbr {}
*/