@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

@import url(stylesheets/tags/meta.css);
@import url(stylesheets/tags/blocks.css);
@import url(stylesheets/tags/inline.css);
@import url(stylesheets/tags/self-closings.css);
@import url(stylesheets/tags/others.css);

@import url(stylesheets/params.css);

:root {
   --black: #000000;
   --blue: #0000ff;
   --cyan: #00ffff;
   --gray: #555555;
   --green: #00aa00;
   --indigo: #d500ff;
   --light-black: #101010;
   --light-blue: #0080ff;
   --light-gray: #bbbbbb;
   --light-green: #00d500;
   --lime: #00ff00;
   --orange: #ff8800;
   --pink: #ff00ff;
   --purple: #aa00ff;
   --red: #ff0000;
   --transcripter: #00bbff;
   --white: #ffffff;
   --yellow: #fff000;

   --background-color: var(--white);
   --border: .15rem solid var(--color);
   --border-radius_block: 9px;
   --border-radius_inline: 5px;
   --color: var(--black);
   --font-family: "Courier Prime", monospace;
   --font-size: 18px;
   --font-weight: 300;
   --line-height: 1.2rem;
   --margin: .4rem;
   --padding_block: .47rem .7rem .25rem .7rem;
   --padding_inline: .13rem .35rem 0 .35rem;
   --shadow: 0 0 3px var(--color);
   --tab: 1.6rem;
}

/*@media (prefers-color-scheme: dark) {
     :root {
          --background-color: var(--light-black);
          --color: var(--white);
     }
}*/

* {
   background-color: transparent;
   box-sizing: content-box;
   color: var(--color);
   font-family: var(--font-family);
   line-height: var(--line-height);
   scroll-behavior: smooth;
   transition: all .1s;
}

:root {
   background-color: var(--background-color);
   cursor: default;
   font-size: var(--font-size);
   font-weight: var(--font-weight);
   height: 100%;
   user-select: none;
}