/* Sasscript */
/* Fonts */
@import 'https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Poppins&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';
/* Colors */
/* Properties */
* {
  background-color: transparent;
  box-sizing: border-box;
  font-family: "Poppins";
  scroll-behavior: smooth;
  transition: all 0.2s;
}

:root {
  color: #000000;
  cursor: default;
  min-height: 100%;
}

/* Common styles */
/* Meta tags */
/* Basic elements */
body {
  margin: 0.5rem 0.9rem;
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 2.6rem;
  line-height: 1.3;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 0.9rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.7rem;
}

hr {
  border: 2.5px solid currentColor;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 6px;
  padding: 0.1rem 0.5rem;
  height: 15px;
}

/* Semantic elements */
article {
  border: 2.5px solid currentColor;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 10px;
  margin: 0.5rem 0.9rem;
  padding: 8px 12.5px;
}

aside {
  float: right;
  margin: 0.5rem 0.9rem;
  width: fit-content;
}

details {
  border: 2.5px solid currentColor;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 6px;
  padding: 0.1rem 0.5rem;
}
details:not([open]) {
  width: fit-content;
}

footer {
  margin: 0.5rem 0.9rem;
  margin-left: 0;
  margin-right: 0;
}

header {
  margin: 0.5rem 0.9rem;
  margin-left: 0;
  margin-right: 0;
}

main {
  margin: 0.5rem 0.9rem;
}

mark {
  background-color: #ffff00;
  border-radius: 6px;
  padding: 0.1rem 0.5rem;
}

nav {
  margin: 0.5rem 0.9rem;
}

summary {
  cursor: pointer;
}

/* Other basic elements */
ol,
ul {
  margin: 0;
}

ol {
  padding-left: 30px;
}
ol li {
  list-style-type: decimal-leading-zero;
}

ul {
  padding-left: 30px;
}
ul li {
  list-style-type: disc;
}

:any-link {
  color: #0080ff;
}
:any-link:hover {
  color: #0000ff;
}

/* Elements */
abbr[title] {
  text-decoration: underline #008000;
}

address {
  border: 2.5px solid currentColor;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 10px;
  margin: 0.5rem 0.9rem;
  padding: 8px 12.5px;
}

blockquote {
  border: 2.5px solid currentColor;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 10px;
  margin: 0.5rem 0.9rem;
  padding: 8px 12.5px;
}

button {
  border: 2.5px solid currentColor;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 6px;
  padding: 0.1rem 0.5rem;
  background-color: transparent;
  border-color: currentColor;
  cursor: pointer;
  font-size: 1rem;
}
button:disabled {
  border-color: #cecece;
  color: #cecece;
  cursor: not-allowed;
}
button:hover:not(:disabled) {
  background-color: #cecece;
}
button[type=reset] {
  border-color: #ff0000;
  color: #ff0000;
}
button[type=submit] {
  border-color: #008000;
  color: #008000;
}

code {
  background-color: #cecece;
  border-radius: 6px;
  font-size: 1rem;
  padding: 0.1rem 0.5rem;
}

del {
  background-color: #ff0000;
  border-radius: 6px;
  color: #ffffff;
  padding: 0.1rem 0.5rem;
  text-decoration: none;
}

dialog {
  border: 2.5px solid currentColor;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 10px;
  margin: 0.5rem 0.9rem;
  padding: 8px 12.5px;
  background-color: #ffffff;
}

fieldset {
  border: 2.5px solid currentColor;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 10px;
  margin: 0.5rem 0.9rem;
  padding: 8px 12.5px;
}

form {
  border: 2.5px solid currentColor;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 10px;
  margin: 0.5rem 0.9rem;
  padding: 8px 12.5px;
  text-align: center;
}

iframe {
  border: 2.5px solid currentColor;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 10px;
  margin: 0.5rem 0.9rem;
  padding: 8px 12.5px;
}

input {
  border: 2.5px solid currentColor;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 6px;
  padding: 0.1rem 0.5rem;
  background-color: transparent;
  font-size: 1rem;
  outline: 0;
}
input[type=button] {
  cursor: pointer;
}
input[type=checkbox] {
  accent-color: #0080ff;
  box-shadow: none;
  cursor: pointer;
  height: 17px;
  width: 17px;
}
input[type=color] {
  cursor: pointer;
  padding-bottom: 3px;
}
input[type=file] {
  padding-bottom: 2px;
}
input[type=radio] {
  accent-color: #0080ff;
  box-shadow: none;
  cursor: pointer;
  height: 17px;
  width: 17px;
}
input[type=range] {
  box-shadow: none;
  cursor: pointer;
}
input[type=reset] {
  cursor: pointer;
}
input[type=reset]:hover {
  background-color: #cecece;
}
input[type=submit] {
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #cecece;
}

kbd {
  border: 2.5px solid currentColor;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 6px;
  padding: 0.1rem 0.5rem;
}

meter {
  height: 20px;
  width: 200px;
}

progress {
  border: 2.5px solid currentColor;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 6px;
  padding: 0.1rem 0.5rem;
  height: 20px;
  padding: 0;
  width: 200px;
}

select {
  border: 2.5px solid currentColor;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 6px;
  padding: 0.1rem 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

select:focus-visible {
  outline: 0;
}

table {
  border: 2.5px solid currentColor;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 10px;
  margin: 0.5rem 0.9rem;
  padding: 8px 12.5px;
  border-collapse: collapse;
}

td {
  border: 2.5px solid currentColor;
  padding: 0.1rem 0.5rem;
}

textarea {
  border: 2.5px solid currentColor;
  border-radius: 6px;
  font-size: 1rem;
  padding: 0.1rem 0.5rem;
}

textarea:focus-visible {
  outline: 0;
}

th {
  border: 2.5px solid currentColor;
  padding: 0.1rem 0.5rem;
  text-align: center;
}

time {
  font-family: "Roboto";
}

/* Webkit */
::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

::-webkit-file-upload-button {
  border: 2.5px solid currentColor;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 6px;
  padding: 0.1rem 0.5rem;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 2px;
}

::-webkit-file-upload-button:hover {
  background-color: #cecece;
}

::-webkit-progress-bar {
  background-color: #ffffff;
  border-radius: 3px;
}

::-webkit-progress-value {
  background-color: #008000;
  border-radius: 3px;
}

/* Params */
dialog[fullscreen] {
  border: 0;
  box-shadow: none;
  margin: 0;
  min-height: 80vh;
  top: 0;
  width: 100vw;
}

table[crossed] td,
table[crossed] th,
table[crossed] tr {
  border: 0;
}
table[crossed] td:first-child,
table[crossed] th:first-child {
  border-right: 2.5px solid currentColor;
}
table[crossed] tr:first-child {
  border-bottom: 2.5px solid currentColor;
}

[bubble]:hover,
[bubbles] > :hover {
  background-color: #cecece;
  border-radius: 6px;
  padding: 0.1rem 0.5rem;
}

[button],
[buttons] > * {
  border: 2.5px solid currentColor;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 6px;
  padding: 0.1rem 0.5rem;
  cursor: pointer;
  margin: 0.5rem 0.9rem;
  margin-bottom: 7px;
  margin-left: 0;
  text-decoration: none;
}

[flex] {
  display: flex;
  flex-wrap: wrap;
}

[highlight]:hover,
[highlights] > :hover {
  background-color: #cecece;
}

/* Special cases */
form li {
  list-style-type: none;
}

p:first-child {
  margin-top: 0;
}

svg {
  fill: transparent;
  font-size: 50px;
  stroke-width: 2px;
}

/* Sasscript */

/*# sourceMappingURL=index.css.map */
