button[disabled] {
   border-color: var(--gray);
   color: var(--gray);
   cursor: not-allowed;
}

button[disabled]:hover {
   background-color: transparent
}

button[type="reset"] {
   border-color: var(--red);
   color: var(--red);
}

button[type="submit"] {
   border-color: var(--gray);
   color: var(--gray);
}


a[button][href] {
   border: var(--border);
   border-radius: var(--text_border-radius);
   color: var(--blue);
   padding: var(--text_padding);
   text-decoration: none;
}

a[button][href]:hover {
   color: var(--orange)
}

a[href][inverted] {
   color: var(--red)
}

a[href][inverted]:hover {
   color: var(--cyan)
}