a[href] {
   color: var(--blue);
}

a[href]:hover {
   color: var(--orange);
}

abbr[title] {
   text-decoration: underline var(--green);
}

address {
   margin: var(--margin);
}

/* area */

article {
   border: var(--border);
   border-radius: var(--border-radius_block);
   margin: var(--margin);
   padding: var(--padding_block);
}

aside {
   float: right;
   margin: var(--margin);
   width: fit-content;
}

/* audio b base bdi bdo */

blockquote {
   margin: var(--margin);
}

body {
   margin: 0;
   padding: var(--padding_block);
}

/* br */

button {
   background-color: var(--white);
   border: var(--border);
   border-radius: var(--border-radius_inline);
   color: var(--black);
   cursor: pointer;
   min-height: 30px;
   min-width: 30px;
   padding: var(--padding_inline);
}

button:hover {
   background-color: var(--light-gray);
}

/* canvas caption cite */

code {
   background-color: var(--light-gray);
   border: var(--border) var(--light-gray);
   border-radius: var(--border-radius_inline);
   color: var(--gray);
   padding: var(--padding_inline);
}

/* col data datalist dd */

/* head */

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: normal;
   margin: 0;
}

h1 {
   font-size: 2.5rem;
}

h2 {
   font-size: 1.7rem;
}

h3 {
   font-size: 1.3rem;
}

h4 {
   font-size: .9rem;
}

h5 {
   font-size: .8rem;
}

h6 {
   font-size: .7rem;
}

main {
   padding: 0 0 var(--padding_block);
}