@mixin imgbutton($dimensions: 40px, $padding: 5px) {
   @extend button;

   height: $dimensions;
   padding: $padding;
   width: $dimensions;
}

@include ss('imgbutton', 'img') {
   @include imgbutton;
}
