$cultured: #f0f0f0;
$smoky-black: #0f0f0f;

$eerie-black: #1c1c1c;
$jet: #393939;
$davys-grey: #555555;
$sonic-silver: #717171;
$spanish-gray: #8e8e8e;
$silver-chalice: #aaaaaa;
$silver: #c6c6c6;
$platinum: #e3e3e3;