@mixin theme-color($color) {
   :root:after {
      color: $color;
   }

   ::placeholder {
      color: $color;
   }

   b {
      color: $color;
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      color: $color;
   }

   input,
   progress {
      accent-color: $color;
   }

   table {
      tr:nth-child(odd) {
         background-color: lighten($color, 25);
      }

      tr:first-child {
         background-color: $color;
      }
   }
}