table[crossed] td,
table[crossed] th,
table[crossed] tr {
   border: 0;
}

table[crossed] tr:first-child {
   border-bottom: var(--border);
}

table[crossed] td:first-child,
table[crossed] th:first-child {
   border-right: var(--border);
}

table[disabled],
table[disabled] td,
table[disabled] th,
table[disabled] tr {
   border: 0;
}

[bubble]:hover,
[bubbles]> :hover {
   background-color: var(--gray);
   border-radius: var(--border-radius_inline);
   padding: var(--padding_inline);
}

[button],
[buttons]>* {
   background-color: transparent;
   border: var(--border);
   border-color: inherit;
   border-radius: var(--border-radius_inline);
   cursor: pointer;
   padding: var(--padding_inline);
   text-decoration: none;
}

[flex] {
   display: flex;
   flex-wrap: wrap;
}