[big] {
   font-size: 3rem;
}

[buttons] a {
   background-color: var(--white);
   border: var(--border);
   border-radius: var(--border-radius_inline);
   cursor: pointer;
   padding: var(--padding_inline);
   text-decoration: none;
}

[flex] {
   display: flex;
   flex-wrap: wrap;
}

[small] {
   font-size: .5rem;
}

a[button] {
   background-color: var(--white);
   border: var(--border);
   border-radius: var(--border-radius_inline);
   cursor: pointer;
   padding: var(--padding_inline);
   text-decoration: none;
}

a[inverted] {
   color: var(--red);
}

a[inverted]:hover {
   color: var(--cyan);
}

table[crossed],
table[crossed] td,
table[crossed] th,
table[crossed] tr {}

table[disabled],
table[disabled] td,
table[disabled] th,
table[disabled] tr {
   border: 0;
}