@use '../themes';
@use '../var/colors';

:any-link {
   color: colors.$azure;

   &:hover {
      color: colors.$blue;
   }
}

::placeholder {
   @include themes.dark {
      color: lighten(colors.$white, 15);
   }

   @include themes.light {
      color: lighten(colors.$white, 15);
   }
}
