@use '../var/colors';
@use '../properties/shortcuts/font' as *;
@use '../components/input' as *;
@use '../components/highlight' as *;

button {
   @include font($size: 14px);
   @include input;
   @include highlight;

   cursor: pointer;
   text-transform: uppercase;

   &:disabled {
      color: colors.$cultured;
      cursor: not-allowed;
   }

   &[type='reset'] {
      color: colors.$red;
   }
   &[type='submit'] {
      color: colors.$ao-english;
   }
}
