@use '../components/input' as *;
@use '../lib/var/colors' as *;
@use '../lib/shortcuts/box' as *;
@use '../styles/border' as *;

@use './button';

input {
   @include input;

   &[type='button'] {
      @extend button;
   }
   &[type='checkbox'] {
      @extend [type='range'];

      @include model(25px);
   }
   &[type='color'] {
      @include model(35px, 50px);

      cursor: pointer;
      padding: 0;
   }

   // [type='date'] [type='datetime-local'] [type='email'] 
   
   &[type='file'] {
      padding-left: 0.4rem;
   }
   
   // [type='hidden'] [type='image'] [type='month']
   
   &[type='number']:out-of-range {
      @include border;

      border-color: $red; 
   }
   
   // [type='password']

   &[type='radio'] {
      @extend [type='checkbox'];
   }
   &[type='range'] {
      accent-color: $azure;
      box-shadow: none;
      cursor: pointer;
   }
   &[type='reset'] {
      @extend [type='button'];

      cursor: pointer;
   }

   // [type='search']

   &[type='submit'] {
      @extend [type='reset'];
   }

   // [type='tel'] [type='text'] [type='time'] [type='url'] [type='week']
}
