@use './warn' as *;

@mixin dimensions($height, $width: $height) {
   height: $height;
   width: $width;

   ::before {
      content: '@dimensions is deprecated since v4.0.0 use @model instead';
   }
}
