@use './reset' as *;
@use '../properties/shortcuts/position' as *;

@mixin fullscreen {
   @include position(absolute, $top: 0, $left: 0);
   @include reset('border');

   margin: 0;
   min-height: 100vh;
   min-width: 100vw;
}
