@use '../lib/shortcuts/box' as *;

@mixin reset($type: '') {
   @if ($type == 'model' or $type == 'all') {
      @include model(0, $margin: 0, $padding: 0);
   }

   @if ($type == 'border' or $type== 'all') {
      border: none;
      border-radius: 0;
      box-shadow: none;
   }
}