@use '../var/colors';

@mixin var($type) {
   @if $type == 'bool' {
      color: colors.$violet-color-wheel;
   }
   @if $type == 'char' {
      color: colors.$yellow;
   }
   @if $type == 'double' {
      color: colors.$ao-english;
   }
   @if $type == 'float' {
      color: colors.$chartreuse-web;
   }
   @if $type == 'int' {
      color: colors.$green;
   }
   @if $type == 'string' {
      color: colors.$orange;
   }

   //! deprecated 4.0.0
   @if $type == 'number' {
      color: colors.$green;

      ::before {
         content: '$number is deprecated since v4.0.0 use $int, $double or $float instead';
      }
   }
}
