@use '../lib/var/colors' as *;

@mixin var($type) {
   @if $type == 'bool' {
      color: $violet-color-wheel;
   }

   @if $type == 'null' {
      color: $navy-blue;
   }

   // text
   @if $type == 'char' {
      color: $yellow;
   }

   @if $type == 'string' {
      color: $orange;
   }

   // num
   @if $type == 'num' {
      color: $green;
   }

   @if $type == 'double' {
      color: $ao-english;
   }

   @if $type == 'float' {
      color: $chartreuse-web;
   }

   @if $type == 'int' {
      color: $green;
   }

   // num base
   @if $type == 'dec' {
      color: $smoky-black;
   }

   @if $type == 'hex' {
      color: $eerie-black
   }

   @if $type == 'oct' {
      color: $silver-chalice;
   }
}