@mixin flex(
   $flex-direction: row,
   $flex-wrap: nowrap,
   $align-content: normal,
   $justify-content: normal,
   $align-items: normal
) {
   display: flex;

   @if $align-content != normal and $align-content != '' {
      align-content: $align-content;
   }

   @if  $align-items != normal and $align-items != '' {
      align-items: $align-items;
   }

   @if $flex-direction != row and $flex-direction != '' {
      flex-direction: $flex-direction;
   }

   @if $flex-wrap != nowrap and $flex-wrap != '' {
      flex-wrap: $flex-wrap;
   }

   @if $justify-content != normal and $justify-content != '' {
      justify-content: $justify-content;
   }
}

@include ss('flex') {
   @include flex;
}
