@use './var/fonts';
@use './breakpoints';
@use './properties/position' as *;

* {
   box-sizing: border-box;
   font-family: fonts.$montserrat;
   scroll-behavior: smooth;
   transition: all 0.3s, background 0s, color 0s;
}

:root {
   color-scheme: light dark;
   cursor: default;

   &:after {
      @include position(fixed, $right: 0, $bottom: 0);

      content: 'SasScript 4.0.0';
      font-size: 0.5rem;
   }

   @include breakpoints.laptop {
      background-size: 100% 100%;
   }
}
