// a abbr

abbr[title] {
   text-decoration: underline dotted $ao-english 3px;
}

address {
   @include block;
}

// area

article {
   @include block;
}

aside {
   @include margin;

   float: right;
   width: fit-content;
}

// audio b base bdi bdo

blockquote {
   @include block;
}

body {
   @include fullscreen;
   @include padding('inline');

   padding-bottom: 30px;
}

// br

button {
   @include input;
   @include highlight;

   cursor: pointer;

   &:disabled {
      color: $cultured;
      cursor: not-allowed;
   }

   &[type='reset'] {
      color: $red;
   }
   &[type='submit'] {
      color: $ao-english;
   }
}

// canvas caption cite

code {
   @include border-radius('inline');
   @include padding('inline');

   background-color: $gray-web;

   > pre {
      display: inline;
   }
}

// col colgroup data datalist dd details

del {
   @extend code;

   background-color: $red;
   color: $white;
   text-decoration: none;
}

// dnf

dialog {
   @include block;
}

//  div dl dt em embed

fieldset {
   @include block;

   > form:only-child {
      @include reset;
   }
}

// figcaption figure

footer {
   @include margin;

   margin-left: 0;
   margin-right: 0;
}

form {
   @include block;

   text-align: center;

   li {
      list-style-type: none;
   }

   > fieldset:only-child {
      @include reset;
   }
}

h1,
h2,
h3,
h4,
h5,
h6 {
   @include margin('inline');

   color: $ss-theme-color;
}

h1 {
   font-size: 2rem;
}

h2 {
   font-size: 1.4rem;
}

h3 {
   font-size: 1.2rem;
}

h4 {
   font-size: 0.9rem;
}

h5 {
   font-size: 0.8rem;
}

h6 {
   font-size: 0.7rem;
}

// head

header {
   @include margin;

   > h1,
   > h2,
   > h3 {
      margin: 0;
   }
}

// hgroup

hr {
   @include inline;

   height: 15px;
}

html {
   @include fullscreen;
}

// i

iframe {
   @include block;
}

// img

input {
   @include input;

   &[type='button'] {
      @extend button;
   }
   &[type='checkbox'] {
      @extend [type='range'];

      height: 25px;
      width: 25px;
   }
   &[type='color'] {
      cursor: pointer;
      padding: 5px;
      height: 35px;
      width: 50px;
   }

   // [type='date'] [type='datetime-local'] [type='email'] [type='file'] [type='hidden'] [type='image'] [type='month'] [type='number '] [type='password']

   &[type='radio'] {
      @extend [type='checkbox'];
   }
   &[type='range'] {
      accent-color: $ss-theme-color;
      box-shadow: none;
      cursor: pointer;
   }
   &[type='reset'] {
      @extend [type='button'];

      cursor: pointer;
   }

   // [type='search']

   &[type='submit'] {
      @extend [type='button'];

      cursor: pointer;
   }

   // [type='tel'] [type='text'] [type='time'] [type='url'] [type='week']
}

// ins

kbd {
   @include inline;
}

// label legend li link

main {
   @include margin;
}

// map

mark {
   @extend code;

   background-color: $yellow;
}

// meta

meter {
   height: 40px;
   width: 200px;
}

nav {
   @include margin;
}

// noframes noscript object

ol {
   margin: 0;
   padding-left: 25px;
}

// optgroup option output p param picture pre

progress {
   @extend meter;
}

// q rt rc rtc ruby s samp script section

select {
   @include input;

   cursor: pointer;
}

// slot small source span strong style sub

summary {
   cursor: pointer;
}

// sup

table {
   @include block;

   border-collapse: collapse;
}

// tbody

td {
   @include border;
   @include padding('inline');

   box-shadow: none;
}

// template

textarea {
   @include input;
}

// tfoot

th {
   @extend td;

   text-align: center;
}

// thead

time {
   font-family: $roboto;
}

// title tr track u

ul {
   @extend ol;

   > li {
      list-style-type: disc;
   }
}

// var video wbr

:any-link {
   color: $azure;

   &:hover {
      color: $blue;
   }
}

::file-selector-button {
   @extend button;
}

::placeholder {
   color: lighten($ss-theme-color, 15)
}
