@use './lib/breakpoints' as *;
@use './lib/shortcuts/position' as *;

:root {
   color-scheme: light dark;
   cursor: default;

   &:after {
      @include position(fixed, $right: 0, $bottom: 0);

      content: 'SasScript 4.1.0';
      font-size: 0.5rem;
   }

   @include laptop {
      background-size: 100% 100%;
   }
}
