/* Sasscript */

$ss-signature: 'true' !default;
$ss-theme-color: currentColor !default;

@import './colors';
@import './fonts';
@import './breakpoints';

@import './properties';

@import './models';

@import './components';

* {
   box-sizing: border-box;
   font-family: $montserrat;
   scroll-behavior: smooth;
   transition: all 0.3s, background 0s, color 0s;

   &[hidden] {
      display: none !important;
   }
}

:root {
   color-scheme: light dark;
   cursor: default;

   @if $ss-signature == 'true' {
      &:after {
         @include position(fixed, '', 0, 0);

         color: $ss-theme-color;
         content: 'SasScript 3.5.1';
         font-size: 0.5rem;
      }
   }

   @include laptop {
      background-size: 100% 100%;
   }
}

@import './elements';

@import './compounds';

@import './browsers';

/* Sasscript */
